//
// PingAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class PingAPI {

    /**
     Pings the server to see if it is alive

     - returns: PingResponse
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func ping() async throws -> PingResponse {
        return try await pingWithRequestBuilder().execute().body
    }

    /**
     Pings the server to see if it is alive
     - GET /api/v1/ping/get.ping
     - Pings the server and replies with some information about the server if it is alive
     - returns: RequestBuilder<PingResponse>
     */
    open class func pingWithRequestBuilder() -> RequestBuilder<PingResponse> {
        let localVariablePath = "/api/v1/ping/get.ping"
        let localVariableURLString = BlueChatAgentClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [:]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<PingResponse>.Type = BlueChatAgentClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: false)
    }
}
