//
// TextingAPI.swift
//
// Generated by openapi-generator
// https://openapi-generator.tech
//

import Foundation
#if canImport(AnyCodable)
import AnyCodable
#endif

open class TextingAPI {

    /**
     Gets the public BlueChat texting number

     - returns: TextingNumberResponse
     */
    @available(macOS 10.15, iOS 13.0, tvOS 13.0, watchOS 6.0, *)
    open class func textingGetNumber() async throws -> TextingNumberResponse {
        return try await textingGetNumberWithRequestBuilder().execute().body
    }

    /**
     Gets the public BlueChat texting number
     - GET /api/v1/texting/get.textingNumber
     - Returns the current phone number and default message users should text to start BlueChat.
     - returns: RequestBuilder<TextingNumberResponse>
     */
    open class func textingGetNumberWithRequestBuilder() -> RequestBuilder<TextingNumberResponse> {
        let localVariablePath = "/api/v1/texting/get.textingNumber"
        let localVariableURLString = BlueChatAgentClientAPI.basePath + localVariablePath
        let localVariableParameters: [String: Any]? = nil

        let localVariableUrlComponents = URLComponents(string: localVariableURLString)

        let localVariableNillableHeaders: [String: Any?] = [:]

        let localVariableHeaderParameters = APIHelper.rejectNilHeaders(localVariableNillableHeaders)

        let localVariableRequestBuilder: RequestBuilder<TextingNumberResponse>.Type = BlueChatAgentClientAPI.requestBuilderFactory.getBuilder()

        return localVariableRequestBuilder.init(method: "GET", URLString: (localVariableUrlComponents?.string ?? localVariableURLString), parameters: localVariableParameters, headers: localVariableHeaderParameters, requiresAuthentication: false)
    }
}
